.best {
    text-align: center;
}

.main-info {
    text-align: center;
    line-height: 2;
}

.info {
    display: grid;
}

.about {
    text-align: center;
    font-size: large;
    margin: 5%;
    line-height: 2;
}

.about-container {
    margin-bottom: 50px;
}

.phone {
    color: #fff;
    text-align: right;
}

.address {
    color: #fff;
}

.hours {
    text-align: center;
}

.store {
    margin-top: 20px;
}

.social {
    text-align: center;
    margin-top: 30px;
}

.social-group {
    display: inline-flex;
}

.social-icon {
    margin: 10px;
}

#yelp {
    color: #ff0000;
}

#fb {
    color: #3B5998;
}

#google {
    color: #4885ed;
}

#phone-link {
    color: red;
    margin-bottom: 50px;
}

.call-now {
    margin-bottom: 50px;
}