<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/simplex/bootstrap.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>

    <div class="container about-container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

            <a class="navbar-brand" href="/">Wings On The Run</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            <ul class="info list-unstyled">
                <li><h3 class="phone pull-right">864-292-2242</h3></li>
                <li><h6 class="address">3010 EAST NORTH STREET SUITE B, GREENVILLE, SC 29615</h6></li>
            </ul>
        </nav>


        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <p class="about">We are family owned since 2009.  We  have take out, dine in, and delivery.
                    (NO RANGE IS OUT OF RANGE)  Delivery fees are based on the zip code, and does not include
                    gratuity for driver!  We also offer catering services to fit your needs (weddings, parties, church
                    events).  WE DO MORE THAN JUST WINGS!!!
                </p>

                <div class="card text-white bg-dark mb-3 hours">
                    <h2 class="card-title store">STORE HOURS</h2>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item text-white bg-dark mb-3"><h3>CLOSED SUNDAY &amp; MONDAY (SPECIAL ORDERS MAY BE AVAILABLE)</h3></li>
                            <li class="list-group-item text-white bg-dark mb-3"><h3>TUES - 10:30 - 3PM</h3></li>
                            <li class="list-group-item text-white bg-dark mb-3"><h3>WED - THURS 10:30 - 10:00PM</h3></li>
                            <li class="list-group-item text-white bg-dark mb-3"><h3>FRI - SAT 10:30 - 10:00PM</h3></li>
                            <h5>WE ARE OPEN SUPER BOWL SUNDAY 10:30AM UNTIL!</h5>
                        </ul>
                    </div>
                </div>




            </div>
        </div>


    </div>

</body>
</html>