<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Wings On The Run</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/simplex/bootstrap.min.css"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

            <a class="navbar-brand " href="/">Wings On The Run</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>

            </ul>
            <ul class="info list-unstyled">
               <li><a href="tel:864-292-2242"><h3 class="phone pull-right">864-292-2242</h3></a></li>
               <li><h6 class="address">3010 EAST NORTH STREET SUITE B, GREENVILLE, SC 29615</h6></li>
            </ul>

        </nav>

        <div class="jumbotron">
            <h1 class="best">THE BEST WINGS THIS SIDE OF THE PLANET... PERIOD!</h1>
            <h2 class="best font-italic">Delivery, Take Out, Eat In!</h2>
        </div>

        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h3 class="main-info">
                    Established in 2000 and under new ownership since 2009.  Proud recipients of the 2009 "Best Wing"
                    from the Greer Wing Fling.  We take pride in our commitment to bring our customers the best quality
                    wings with the most variety of flavors.  We aim to please and keep our customers happy and coming
                    back!  We have 20+ flavors and even the option to create your own!
                </h3>
            </div>
        </div>

        <footer>
            <div class="social">
                <ul class="list-unstyled social-group">
                    <li><a href="https://www.facebook.com/Wings-on-the-Run-293591308001/"><i id="fb" class="fab fa-facebook-square fa-3x social-icon"></i></a></li>
                    <li><a href="https://www.yelp.com/biz/wings-on-the-run-greenville"><i id="yelp" class="fab fa-yelp fa-3x social-icon"></i></a></li>
                    <li><a href="https://goo.gl/1rmpqr"><i id="google" class="fab fa-google fa-3x social-icon"></i></a></li>
                </ul>
            </div>

            <div class="call-now text-center">
                <a id="phone-link" href="tel:864-292-2242"><h4>CLICK TO CALL US NOW!</h4></a>
            </div>

        </footer>


    </div>


</body>
</html>