<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/simplex/bootstrap.min.css"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

            <a class="navbar-brand" href="/">Wings On The Run</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            <ul class="info list-unstyled">
                <li><h3 class="phone pull-right">864-292-2242</h3></li>
                <li><h6 class="address">3010 EAST NORTH STREET SUITE B, GREENVILLE, SC 29615</h6></li>
            </ul>
        </nav>
        <h2>MENU</h2>

        <h4>Salads</h4>
        <div class="card" th:each="salad : ${salads}">
            <div class="card-body">
                <strong><h5 th:text="${salad.name + ' -    $' + salad.price}"></h5></strong>
                <p th:text="${salad.description}"></p>
            </div>
        </div>

        <h4>Wings</h4>
        <div class="card">
            <div class="card-body">
                <ul class="list-group" th:each="wing : ${wings}">
                    <strong><li class="list-group-item" th:text="${wing.name + ' -    $' + wing.price}"></li></strong>
                    <em><p th:if="${wing.getDescription() != null}" th:text="${wing.description}"></p></em>
                </ul>
                <!--<strong><h5 th:text="${wing.name + ' -    $' + wing.price}"></h5></strong>-->
            </div>
            <h5>Wing Sauces</h5>
            <h6>Wet</h6>
                <h7>Teriyaki, *Spicy Teriyaki, Teriyaki Bbq,* Hot Bbq,Buttery Bbq, Honey Bbq, *Chipotle Bbq, *Kansas
                    City Bbq, Vinegar Bbq, *Kicking Korean, Garlic Butter
                    Garlic Parmesan, Garlic Parmesan Ranch, Lemon Pepper Garlic, Honey Mustard, Bourbon Molasses, Carolina Gold
                </h7>
            <h6>Dry</h6>
                <h7>Jerk, *Cajun, Rotisserie, *Garlic Sriracha, Old Bay, Mojito Lime, Lemon Pepper, Garlic Pepper</h7>
            <h6>Too Hot</h6>
                <h7>Ghost Pepper, Carolina Reaper, Trinidad Scorpion</h7>
        </div>



        <footer>
            <div class="social">
                <ul class="list-unstyled social-group">
                    <li><a href="https://www.facebook.com/Wings-on-the-Run-293591308001/"><i id="fb" class="fab fa-facebook-square fa-3x social-icon"></i></a></li>
                    <li><a href="https://www.yelp.com/biz/wings-on-the-run-greenville"><i id="yelp" class="fab fa-yelp fa-3x social-icon"></i></a></li>
                    <li><a href="https://goo.gl/1rmpqr"><i id="google" class="fab fa-google fa-3x social-icon"></i></a></li>
                </ul>
            </div>

            <div class="call-now text-center">
                <a id="phone-link" href="tel:864-292-2242"><h4>CLICK TO CALL US NOW!</h4></a>
            </div>

        </footer>


    </div>

</body>
</html>